.main {
  width: 100vw;
  height: 100vh;
  background-color: #ccc;
  overflow: hidden;
}
.context {
  min-height: 100%;
  max-height: 100%;
  padding: var(--layout-content-inner-padding);
  overflow-y: scroll;
  box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.context::-webkit-scrollbar {
  display: none;
}
.sider {
  height: var(--layout-header-height);
  padding: 12px;
  &_logo {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .6);
    border-radius: 6px;
  }
}

.trigger {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  &_main {
    display: flex;
    &_version {
      font-size: 20px;
    }
    p {
      margin-left: 2px;
      margin-right: 20px;
      font-size: 12px;
    }
  }
}