.ant-table-body {
  min-height: var(--table-body-height) !important;
  scrollbar-width: auto;
  scrollbar-color: auto;
  &::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
    -webkit-appearance: none !important;
  }
  
  &::-webkit-scrollbar-track {
    background-color: #F1F1F1 !important;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 6px !important;
    background-color: #C0C0C0 !important;
  }
}
.ant-drawer-body {
  padding: 0 !important;
}
.ant-tabs-nav {
  margin: 0 !important;
}
.ant-layout-content {
  &::-webkit-scrollbar {
    display: none;
  }
}
.ant-pagination  {
  margin: 16px 0 0 !important;
}